#landing
  .container
    #hero
      %h1
        Combine flight deals with hotel getaway packages.
      %h2
        Trossr is the spontaneous person's travel-hack tool 
        %br
        Go on vacation this weekend at 60% the normal cost.

    #query
      %h2
        Let's start your adventure. Choose a date:
      = form_tag('/beta')
      = text_field_tag "date", nil, placeholder: "mm/dd (ex: 03/15)", id: "input"
      = submit_tag "Go!"
      #asterisk
      / *Currently only supporting SFO and LAX departures.
      %h3= link_to "How does this work?", "#", id: "scroll_to_how"
.results
#how
  .container
    %h1 How does this work?
    %p
      = succeed "," do
        %strong Trossr is a tool that combines awesome LivingSocial hotel packages with guaranteed low-price flights
      delivering to you, the spontaneous adventurer, a heavily discounted vacation package.
    %br
    %p 
      We know every flight site likes to boast about "low prices", but Trossr uses proprietary technology to find the prices the 
      %strong.italics airline companies don't want you knowing about
      (don't worry - it's perfectly legal!). We call this "flight shorcutting". Every flight found on Trossr is a guaranteed shortcut flight, and thus a guaranteed low-price flight.
    %br
    %p
      So go ahead and try a search. Sorry, but we're only supporting San Francisco departures for now!

:javascript
  $("#scroll_to_how").click(function() {
    $('html, body').animate({
      scrollTop: $("#how").offset().top
    }, 600);
    return false;
  });